<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NEOlink{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
       html {
        scroll-behavior: smooth;
    }
</style>
</head>
<body class="bg-[#ffffff] text-white font-sans flex flex-col min-h-screen">

    <nav class="container mx-auto px-6 py-4 flex justify-between items-center relative h-24">

        <div class="relative w-48 h-full flex items-center">
            <a href="/" class="absolute left-0 top-1/2 -translate-y-1/2 z-50 transition-transform hover:scale-110 origin-left">
                <img src="/static/logo.png" alt="NEOlink" class="h-35 w-auto object-contain drop-shadow-[0_10px_15px_rgba(34,197,94,0.4)]">
            </a>
        </div>

        <div class="flex space-x-10 text-lg font-medium">
            class="flex space-x-10 text-lg font-medium">
    <a href="/" class="text-[#0f172a] hover:text-green-600 transition">Физическим лицам</a>
    <a href="/business" class="text-[#0f172a] opacity-80 hover:text-blue-600 transition">Юридическим лицам (NEO)</a>

        </div>
    </nav>

    <div class="border-b border-gray-800 w-full"></div>

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center py-10 text-gray-500 text-sm border-t border-gray-800 bg-[#0f172a]">
        <p>© 2026 NEOLINK. Все права защищены</p>
        <div class="mt-2 text-blue-400 space-x-4">
            <span>{{ "+7 707 400 33 41" }}</span>
            <span>|</span>
            <span>{{ "infolink.neo@gmail.com" }}</span>
        </div>
    </footer>

</body>
</html>